
<div class="row"  ng-cloak ng-init="newFeeds()">
  <div class="col-md-6 col-md-offset-3">
        <form name="searchForm" class="navbar-form" ng-submit="search()" novalidate>
          <div class="form-group" style="display:inline;">
            <div class="input-group col-md-9">
              <input class="form-control" type="text" placeholder="search key" ng-model="searchkey" required>
             
            </div>
             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </div>
      </form>
  </div> 
</div>
<div class="row" ng-if="feed.length >0" style="padding-left: 15px;">{{feed}}</div>

<ul class="list-group">
  <li class="list-group-item list-item" ng-repeat="news in latestNews">
        <a  href="{{news.webUrl}}" target="_blank" class="list-image">
          <img ng-src="{{news.thumbnail}}" alt="thumbnail" class="img-thumbnail" />
        </a>
        <div class="news-heading">
            <a  href="{{news.webUrl}}" target="_blank" class="list-url">
                 <span class="list-group-item-heading ">{{news.webTitle}}</span> 
            </a>

            
              <p class="news-key"><button class="btn btn-xs btn-info" ng-click="searchByTag(news.sectionName)">{{news.sectionName}}</button></p>
          
        </div>

  </li>
  
</ul>


<div class="pull-right" ng-show="bigTotalItems >0">

   <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()"></uib-pagination>
</div>