
<div class="list-group">
	
	  <a href="#" class="list-group-item">
	  		<div>
		  		<img src="images/yeoman.png" alt="thumbnail" class="img-thumbnail">
			    <span class="list-group-item-heading news-heading">List group item heading</span>
			    <div>
			    	<span class="badge news-key">key 1</span>
			    	<span class="badge news-key">key 1</span>
			    	<span class="badge news-key">key 1</span>
			    	<span class="badge news-key">key 1</span>
			    </div>
		    </div>
	  </a>
	  

</div>